.DS_Store
*.png
__pycache__/
.vscode/
build/
build_*/
*.so
python/ElasticRods
python/MeshFEM
.ipynb_checkpoints/

# results images
python/actuation_experiments/images/

# `json.gz` files
python/UmbrellaGen/
